body {
    padding: 70px;
}
.list-group-item{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
p{
    cursor: pointer;
}
.realizado {
    text-decoration: line-through;
}